{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load myfilters %}


{% block title %}Change Password{% endblock %}

{% block content %}
<div class="flex flex-col w-full md:w-4/12 mx-auto p-8 bg-white rounded-sm space-y-2">
    <h2 class="font-bold text-center text-4xl">
        {% if token_fail %}Bad Token{% else %}Change Password{% endif %}
    </h2>

    {% if token_fail %}
    <div>
        The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{% url 'account_reset_password' %}">new password reset</a>.
    </div>
    {% else %}

    {% if form %}
    <div class="flex flex-col">
        <form action="." method="POST" class="space-y-2">
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="{{ form.password1.id_for_label }}">New Password</label>
                {{ form.password1.errors }}
                {{ form.password1|addclass:"p-1 outline-none border border-solid border-gray-500 focus:border-black rounded-sm" }}
            </div>
            <div class="flex flex-col">
                <label for="{{ form.password2.id_for_label }}">Confirm New Password</label>
                {{ form.password2.errors }}
                {{ form.password2|addclass:"p-1 outline-none border border-solid border-gray-500 focus:border-black rounded-sm" }}
            </div>
            <div class="flex flex-col">
                <button class="p-2 bg-red-700 hover:bg-red-800 focus:bg-red-900 font-semibold text-white" type="submit" name="action" value="{% trans 'change password' %}">
                    SIGN UP
                </button>
            </div>
        </form>
    </div>
    {% else %}
    <p>Your password has been changed.</p>
    {% endif %}

    {% endif %}
</div>
{% endblock content %}
