{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load myfilters %}


{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="flex flex-col w-full md:w-4/12 mx-auto p-8 bg-white rounded-sm space-y-2">
    <h2 class="font-bold text-center text-4xl">
        PASSWORD RESET
    </h2>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="">
        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
    </div>
    <div class="flex flex-col">
        <form action="{% url 'account_reset_password' %}" method="POST" class="space-y-2">
            {% csrf_token %}
            <div class=" flex flex-col">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email.errors }}
                {{ form.email|addclass:"p-1 outline-none border border-solid border-gray-500 focus:border-black rounded-sm" }}
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="flex flex-col">
                <button class="p-2 bg-red-700 hover:bg-red-800 focus:bg-red-900 font-semibold text-white" type="submit" value="{% trans 'Reset My Password' %}">
                    RESET MY PASSWORD
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
