{% extends "account/base.html" %}

{% load i18n %}
{% load account %}


{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="p-8 bg-white text-center rounded-sm space-y-2">
    <h2 class="font-bold text-2xl">Password Reset</h2>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div>
        We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
    </div>
</div>
{% endblock content %}
