{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}ispace{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Behold My Awesome Project!">
	<meta name="author" content="Andrien Wiandyano">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

	<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

	{% block css %}

	<!-- Latest compiled and minified Bootstrap CSS -->
	<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


	<!-- Your stuff: Third-party CSS libraries go here -->
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">

	<!-- This file stores project-specific CSS -->
	<link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
	<link href="{% static 'css/project.css' %}" rel="stylesheet">


	{% endblock %}

</head>

<body class="bg-red-900">
	<nav class="w-full px-4 md:px-24 py-2 bg-red-700 text-white fixed top-0">
		<div
			class="flex flex-col md:flex-row items-center md:justify-start md:space-x md:space-x-4 space-y-2 md:space-y-0">
			<div class="w-full md:w-auto flex flex-row items-center justify-between space-x-2">
				<div class="p-px font-bold text-xl text-white tracking-wider">
					<a href="{% url 'core:index' %}" class="outline-none">logo</a>
				</div>
				<div class="w-full">
					<form action="{% url 'core:search' %}" class="flex flex-row space-x-1">
						<input type="text" name="query"
							class="w-full p-1 outline-none bg-red-800 hover:bg-red-900 focus:bg-red-900 text-white tracking-wide">
						<button class="p-1 focus:outline-none"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<div class="flex justify-right md:hidden">
					<button id="mobile-navbar-button"
						class="inline-flex items-center justify-center p-2 focus:outline-none rounded text-white hover:text-white hover:bg-red-800 focus:bg-red-900 focus:text-white"
						aria-label="Main menu" aria-expanded="false">
						<!-- Icon when menu is closed. -->
						<!--
						Heroicon name: menu
						Menu open: "hidden", Menu closed: "block"
						-->
						<svg class="block h-6 w-6" id="mobile-navbar-closed" xmlns="http://www.w3.org/2000/svg"
							fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M4 6h16M4 12h16M4 18h16" />
						</svg>
						<!-- Icon when menu is open. -->
						<!--
						Heroicon name: x
						Menu open: "block", Menu closed: "hidden"
						-->
						<svg class="hidden h-6 w-6" id="mobile-navbar-open" xmlns="http://www.w3.org/2000/svg"
							fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</div>

			</div>
			<div class="w-full md:w-auto flex-auto flex flex-col md:flex-row items-center justify-left md:space-x-0 space-y-1 md:space-y-0 hidden md:block text-center md:text-left"
				id="mobile-navbar">
				{% if request.user.is_authenticated %}
				<a href="{% url 'users:detail' request.user.username %}"
					class="outline-none w-full md:w-auto md:inline-block p-2 bg-red-700 hover:bg-red-800 focus:bg-red-900 rounded-sm">u/{{ request.user.username }}</a>
				<a href="{% url 'account_logout' %}"
					class="outline-none w-full md:w-auto md:inline-block p-2 bg-red-700 hover:bg-red-800 focus:bg-red-900 rounded-sm">Logout</a>
				{% else %}
				<a href="{% url 'account_login' %}"
					class="outline-none w-full md:w-auto md:inline-block p-2 bg-red-700 hover:bg-red-800 focus:bg-red-900 rounded-sm">Sign In</a>
				<a href="{% url 'account_signup' %}"
					class="outline-none w-full md:w-auto md:inline-block p-2 bg-white text-red-700 hover:text-white focus:text-white hover:bg-red-800 focus:bg-red-900 rounded-sm">
					Sign Up</a>
				{% endif %}
			</div>
		</div>
	</nav>

	<div class="flex flex-col w-full bg-red-900 md:p-4 mt-12">

		{% if messages %}
		{% for message in messages %}
		<div class="w-auto my-2 md:m-2 p-4 text-white rounded
			{% if message.tags == 'error' %} bg-red-500
			{% elif message.tags == 'success' %} bg-green-500
			{% endif %}">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
		{% endif %}

		{% block content %}
		<p>Use this document as a way to quick start any new project.</p>
		{% endblock content %}

	</div> <!-- /container -->

	{% block modal %}{% endblock modal %}

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<!-- Bootstrap JS and its dependencies-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!-- Your stuff: Third-party javascript libraries go here -->


	<!-- place project specific Javascript in this file -->
	{% block javascript %}


	{% endblock javascript %}

	<script src="{% static 'js/navbar.js' %}"></script>
	<script src="{% static 'js/jquery.waypoints.js' %}"></script>
	<script src="{% static 'js/infinite.js' %}"></script>

	<script>
		var infinite = new Waypoint.Infinite({
		  element: $('.infinite-container')[0],

		});
	  </script>

</body>

</html>
